body{
    font-family: 'Times New Roman', Times, serif;

}
.start{
    margin: auto;
    width: 300px;
    background-color: rgb(255, 0, 157);
    color: whitesmoke;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
.butStart{
    width: 150px;
    border: none;
    margin: 10px;
    height: 20px;
    border-radius: 10px;
    background-color: crimson;
    color: whitesmoke;
    padding: 3px;
}
.calculator{
    display: none;
    padding: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background-color: crimson;
    flex-direction: column;
    border-radius: 15px;

}
#age{
    padding: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background-color: chartreuse;
    flex-direction: column;
    border-radius: 15px;

}

.hide{
    display: none;
}
input{padding: 5px 3px;
    border: none;
    margin: 10px;
    height: 20px;
    border-radius: 10px;
}
input[type=submit]{padding: 5px 3px;
    border: none;
    margin: 10px;
    height: 20px;
    border-radius: 10px;
    background-color: #4CAF50;
    color: whitesmoke;
    padding: 3px;
}
input[type=submit]:hover{
    background-color: blueviolet;
}